.user-container{
    width: 100%;
    padding: 3px 0px;
}

.user-container .Line{
    padding:0;
}

.status{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.status.online{
    background-color: rgb(0, 161, 0);
}

.status.offline{
    background-color: rgb(228, 0, 0);
}

.icon-container > .Icon:hover{
    cursor: pointer;
    opacity: 0.5;
}

.icon-container > .Icon:hover:active{
    opacity: 0.7;
}
