.login-container{
    height: 100%;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
}

.login-container .Box{
    box-shadow: rgb(61, 92, 126) 0px 22px 200px 144px;
}

.error{
    color: red;
}

.signup-link a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.712);
}

.signup-link a:hover{
    text-decoration: underline;
    color:rgba(0, 0, 0);
    opacity: 0.6;
}

.signup-link a:hover:active{
    opacity: 0.9;
}